@import "normalize";
@import "layout";
@import "elements";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i');

@font-face {
    font-family: 'gotham_book';
    src: url('../fonts/GothamBook.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'gotham_bolt';
    src: url('../fonts/gothambold1.woff') format('woff');    
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'gotham_medium';
    src: url('../fonts/gotham-medium-webfont.woff2') format('woff2'),
         url('../fonts/gotham-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}
@font-face {
    font-family: 'font_awesome';
    src: url('../fonts/fa-regular-400.woff2') format('woff2'),
         url('../fonts/fa-regular-400.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}


$primary-font:'Open Sans', sans-serif;
$primary-color:#fff;

body{
	font:normal 18px/1.6 $primary-font;
	color: $primary-color;
	background: #000;
	
}


/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}


// HEADER 



.ba-hide {
	display:none;
}

.ba-header-bar {
	display: flex;
}

.ba-header {
	position: relative;
}

.ba-intro {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.ba-header-slide {
    color: #fff;
    background-size: cover;
	background-position: 50% 50%;
	z-index: 1;

}




